@import url('https://fonts.googleapis.com/css2?family=Phudu&family=Sedgwick+Ave+Display&family=Ubuntu+Condensed&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu Condensed', sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
}

/* Aqui empieza todo el estilo del header */

header {
    width: 100%;
    height: 95px;
    background-color: #20DCC5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interior {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 90px;
    width: 110px;
    margin-left: 20px;
    transition: transform 0.3s;
}

.logo img:hover {
    transform: scale(1.1);
}

.navegacion {
    display: flex;
    font-size: 18px;
    width: 800px;
    height: 75px;
    position: relative;
    align-items: center;
    margin: 0 auto;
    right: 30px;
}

.menu {
    list-style: none;
    display: flex;
    justify-content:space-around;
    margin-top: -7px;
    align-items: center;
    margin-top: 70px;
    margin: 40px;
    gap: 25px;
    height: 2px;
}

.sobreNosotros{
    width: 110px;
}

.terminos{
    width: 200px;
}

.menu li a {
    display: block;
    padding: 15px 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.menu li:hover {
    background-color: lightseagreen;
    border-radius: 10px;
}

.sub-Menu {
    position: absolute;
    display: none;
    list-style: none;
    background-color:#20DCC5;
}

.menu li:hover .sub-Menu{
    display: block;
}

.sub-Menu li:hover{
    background-color: lightseagreen;
    border-radius: 10px;
}

.sub-Menu li a{
    display: block;
    color: black;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}

/* Aqui termina todo el estilo del header */

.boton1,
.boton2,
.boton3,
.boton4,
.boton5 {
    background-color: rgb(210, 214, 213);
    color: black;
    border: none;
    font-size: 18px;
    cursor: pointer;
    width: 50vw;
    height: 50px;
    margin: 20px;
    margin-top: 30px;
    border: 2px solid #20DCC5;
}

.links a {
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
    border-radius: 10px;
}

.links {
    background-color: rgb(210, 214, 213);
    display: none;
    width: 50vw;
    border: 2px solid #20DCC5;
}

.links a:hover {
    background-color: lightseagreen;
}

.contenedor:hover .links {
    display: block;
    border-radius: 10px;
    margin: 20px;
}

.contenedor {
    position: relative;
    display: inline-block; 
}

.tooltip {
    position: absolute;
    background-color: rgb(210,214,213);
    color: black;
    padding: 5px;
    border-radius: 5px;
    display: none;
    z-index: 1;
    top: 0;
    left: 100%; 
    transform: translateX(70px);
    text-align: center;
    width: 35vw;
    height: 50px;
    margin-top: 20px;
    border: 2px solid #20DCC5;
}

.boton1:hover + .tooltip {
    display: block;
}

.boton2:hover + .tooltip {
    display: block;
}
.boton3:hover + .tooltip {
    display: block;
}

.boton4:hover + .tooltip {
    display: block;
}

.boton5:hover + .tooltip {
    display: block;
}