@import url('https://fonts.googleapis.com/css2?family=Phudu&family=Sedgwick+Ave+Display&family=Ubuntu+Condensed&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #fff;
    font-family: 'Ubuntu Condensed', sans-serif;
}

/* Aqui empieza todo el estilo del header */

header {
    width: 100%;
    height: 95px;
    background-color: #20DCC5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interior {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 90px;
    width: 110px;
    margin-left: 20px;
    transition: transform 0.3s;
}

.logo img:hover {
    transform: scale(1.1);
}

.navegacion {
    display: flex;
    font-size: 18px;
    width: 800px;
    height: 75px;
    position: relative;
    align-items: center;
    margin: 0 auto;
    right: 90px;
}

.menu {
    list-style: none;
    display: flex;
    justify-content:space-around;
    margin-top: -7px;
    align-items: center;
    margin-top: 70px;
    margin: 40px;
    gap: 25px;
    height: 2px;
}

.sobreNosotros{
    width: 150px;
}

.terminos{
    width: 200px;
}

.menu li a {
    display: block;
    padding: 15px 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.menu li:hover {
    background-color: lightseagreen;
    border-radius: 10px;
}

.sub-Menu {
    position: absolute;
    display: none;
    list-style: none;
    background-color:#20DCC5;
}

.menu li:hover .sub-Menu{
    display: block;
}

.sub-Menu li:hover{
    background-color: lightseagreen;
    border-radius: 10px;
}

.sub-Menu li a{
    display: block;
    color: black;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}

/* Aqui termina todo el estilo del header */

h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 70px;
}

span {
    color:lightsteelblue;
}

.Cabeza {
    height: 0px;
    display: flex;
    justify-content: center;
}

.Pantalla-Inicio {
    background-color: #fff;
}

.Login {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 20px;
    padding: 0;
    position: absolute;
    top: 10px;
    right: 20px;
}

.Login a{
    text-decoration: none;
    color: black;
    background-color:rgb(210,214,213);
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    border: 2px solid gray;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.box {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding-top: 15px;
}

.search{
    width: 90vw;
    height: 80px;
    max-width: 700px;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 10%;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.search input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 18px;
    color: black;
}

::placeholder {
    color: black;
}

.search button img {
    width: 25px;
}

.search button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: lightblue;
    cursor: pointer;
}

.barra {
    width: 10%;
    height: 9%;
    position: fixed;
    transition: -4s all;
    z-index: 1;
}