@import url('https://fonts.googleapis.com/css2?family=Phudu&family=Sedgwick+Ave+Display&family=Ubuntu+Condensed&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Ubuntu Condensed', sans-serif;
}

/* Aqui empieza todo el estilo del header */

header {
    width: 100%;
    height: 95px;
    background-color: #20DCC5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interior {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 90px;
    width: 110px;
    margin-left: 20px;
    transition: transform 0.3s;
}

.logo img:hover {
    transform: scale(1.1);
}

.navegacion {
    display: flex;
    font-size: 18px;
    width: 800px;
    height: 75px;
    position: relative;
    align-items: center;
    margin: 0 auto;
    right: 30px;
}

.menu {
    list-style: none;
    display: flex;
    justify-content:space-around;
    margin-top: -7px;
    align-items: center;
    margin-top: 70px;
    margin: 40px;
    gap: 25px;
    height: 2px;
}

.sobreNosotros{
    width: 110px;
}

.terminos{
    width: 200px;
}

.menu li a {
    display: block;
    padding: 15px 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.menu li:hover {
    background-color: lightseagreen;
    border-radius: 10px;
}

.sub-Menu {
    position: absolute;
    display: none;
    list-style: none;
    background-color:#20DCC5;
}

.menu li:hover .sub-Menu{
    display: block;
}

.sub-Menu li:hover{
    background-color: lightseagreen;
    border-radius: 10px;
}

.sub-Menu li a{
    display: block;
    color: black;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}

/* Aqui termina todo el estilo del header */

h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
}


span {
    color:lightsteelblue;
}

.Cabeza {
    height: 0px;
    display: flex;
    justify-content: center;
}


.Pantalla-Inicio {
    background-color: #fff;
}

.Perfil{
    margin-top: 45px;
    background: #D2D6D5;
    height: 400px;
    width: 745px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.4);
    margin-right: 100px;
    margin-left: 20px;
    border: 2px solid #20dcc5;
}

.container {
    margin-top: 45px;
    background: #D2D6D5;
    height: 400px;
    width: 845px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.4);
    margin-right: 20px;
    border: 2px solid #20dcc5;
}

table {
    color:#000000;
    font-size: 14px;
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}

thead {
    background: #20DCC5;
}

th {
    padding: 20px 15px ;
    font-weight: 700;
    text-transform: uppercase;
    text-align:justify;
}

td {
    padding: 15px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}


tbody tr {
    cursor: pointer;
}

tbody tr:hover {
    background: rgba(0, 170, 255, 0.4);
}

