@import url('https://fonts.googleapis.com/css2?family=Phudu&family=Sedgwick+Ave+Display&family=Ubuntu+Condensed&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu Condensed', sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
}

/* Aqui empieza todo el estilo del header */

header {
    width: 100%;
    height: 95px;
    background-color: #20DCC5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interior {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 90px;
    width: 110px;
    margin-left: 20px;
    transition: transform 0.3s;
}

.logo img:hover {
    transform: scale(1.1);
}

.navegacion {
    display: flex;
    font-size: 18px;
    width: 800px;
    height: 75px;
    position: relative;
    align-items: center;
    margin: 0 auto;
    right: 90px;
}

.menu {
    list-style: none;
    display: flex;
    justify-content:space-around;
    margin-top: -7px;
    align-items: center;
    margin-top: 70px;
    margin: 40px;
    gap: 25px;
    height: 2px;
}

.sobreNosotros{
    width: 110px;
}

.terminos{
    width: 200px;
}

.menu li a {
    display: block;
    padding: 15px 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.menu li:hover {
    background-color: lightseagreen;
    border-radius: 10px;
}

.sub-Menu {
    position: absolute;
    display: none;
    list-style: none;
    background-color:#20DCC5;
}

.menu li:hover .sub-Menu{
    display: block;
}

.sub-Menu li:hover{
    background-color: lightseagreen;
    border-radius: 10px;
}

.sub-Menu li a{
    display: block;
    color: black;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}

/* Aqui termina todo el estilo del header */

span {
    color:lightsteelblue;
}


.Pantalla-Inicio {
    background-color: #fff;
}

.contenedor {
    width: 100vw;
    height: 100%;
    display: flex;
    padding: 20px;
}

.Nosotros h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
}

.Nosotros {
    width: 100%;
    height: 570px;
    background-color: rgb(255, 255, 255);;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tarjeta1 {
    width: 30%;
    height: 450px;
    border-radius: 6px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
    font-size: 12px;
    background-color: rgb(210,214,213);
    margin-top: -490px;
    border: 2px solid #20DCC5;
}

.tarjeta1:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}

.tarjeta1 .contenido {
    padding: 15px;
    text-align: center;
}

.tarjeta1 .contenido p{
    line-height: 1.5;
    color: black;
    font-size: 14px;
}

.tarjeta1 .contenido h3{
    margin-bottom: 15px;
    font-size: 18px;
}

.tarjeta2 {
    width: 30%;
    height: 450px;
    border-radius: 6px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
    font-size: 12px;
    background-color: rgb(210,214,213);
    margin-left: 400px;
    margin-top: -530px;
    border: 2px solid #20DCC5;
}

.tarjeta2:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}


.tarjeta2 .contenido {
    padding: 15px;
    text-align: center;
}

.tarjeta2 .contenido p{
    line-height: 1.5;
    color: black;
    font-size: 18px;
}

.tarjeta2 .contenido h3{
    margin-bottom: 15px;
    font-size: 18px;
}

.tarjeta3 {
    width: 30%;
    height: 450px;
    border-radius: 6px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
    font-size: 12px;
    background-color: rgb(210,214,213);
    margin-left: 800px;
    margin-top: -570px;
    border: 2px solid #20DCC5;
}

.tarjeta3:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}

.tarjeta3 .contenido {
    padding: 10px 10px;
    text-align: center;
}

.tarjeta3 .contenido p{
    line-height: 1.5;
    color: black;
    font-size: 18px;
}

.tarjeta3 .contenido h3{
    margin-bottom: 15px;
    font-size: 18px;
}

.Imagenes-tarjetas img{
    width: 60%;
    height: 160px;
    margin-left: 70px;
}